
body.pagina-formacao {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Define a altura do header */
header {
    padding: 10px; /* Ajuste a altura conforme necessário */
    background-color: #f0f0f0; /* Cor de fundo para melhor visualização (opcional) */
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ajuste conforme necessário */
}

.profile-info {
    text-align: center;
}

.profile-info {
    margin-top: 10px;
}

.profile-info h1 {
    margin: 0;
    color: #333;
}

.profile-info p {
    margin: 5px 0;
    color: #666;
}

main.content {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 20px;
    color: #333;
}

.additional-info {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
